.pagination-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;

  .ui.pagination {
  }
}

.table-wrapper-with-scroll {
  overflow: auto;

  table.ui.table {
    border-top: 0;

    thead {
      tr {
        th {
          border-top: 1px solid rgba(34, 36, 38, 0.1);
          background: #f3f3f3 !important;
          position: sticky;
          top: 0;
          z-index: 400;
        }
      }
    }

    tbody {
      tr {
        z-index: 200;
      }
    }
  }
}
